@import url(https://fonts.googleapis.com/css?family=Nunito);

/* Reference  */

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

/* HTML */

body {
	min-height: 100vh;
	font-family: 'Nunito';
	overflow: hidden;
	background-image: linear-gradient(to right bottom, #f3d503, #f3d503, #f3d503, #f3d503, #f3d503, #f5d317, #f6d222, #f7d02b, #f9cc3b, #fbc948, #fbc654, #fbc35f);
}

/* CARD */

img {
	width: 400px;
	height: 120px;
}

.card-deck {
	margin-top: 100px;
	align-items: center;
	justify-content: center;
}

.card {
    max-height: 300px;
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    background: hsla(0, 0%, 100%, 0.2);
	backdrop-filter: blur(30px);
	border-radius: 20%;
}

.card-img-top {
	width: 80%;
	max-height: 200px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.card-title {
    padding-top: 20px;
    text-align: center;
	color: black;
	opacity: 80%;
}

.js-tilt-glare {
	border-radius: 20%;
}

/* Positioning */

/* 
.center{
    position:absolute;
    height: X px;
    width: Y px;
    left:50%;
    top:50%;
    margin-top:-X/2 px;
    margin-left: -Y/2 px;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
  } 
*/

  /* Positioning */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 15%/15%;
    box-shadow: 3px 6px #EEB27B;
}

.center h2 {
    text-align: left;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom:1px solid grey;
}

h2 i {
    padding-left: 30px;
    text-align: right;
    outline: blanchedalmond;
}

i span {
    font-size: 20px;
    font-family: Nunito;
}

/* Input fields and button */

.input-form {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    width: 100%;
    height: 80%;
}

.field input {
    margin-left: 40%;

    width: 40%;
    padding: 0 5px;
    height: 100px;
    font-size: 72px;

    border-bottom-style: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    border-color: antiquewhite;

    outline: none;
}

input:focus {
    color: orange;
    caret-color: transparent;
}

button {
    width: 100%;
    border-color:#f5d317;
    height: 40px;
    margin-top: 50px;
    background: hsla(0, 0%, 100%, 0.2);
	backdrop-filter: blur(30px);
    background-color: #f3d503;
    border-radius: 25px;
    box-shadow: 3px 6px aliceblue;
}

button:focus {
    outline: none;
}
