/* HTML */
body{
    overflow-x: hidden;
}

/* CARD */

.card {
    max-height: 400px;
    min-height: 400px;
    min-width: 250px;
    max-width: 250px;

    margin-bottom: 10px;
}

.card-deck {
    margin-left: 20px;
    margin-top: 20px;
}

.card-header {
    color: aliceblue;
    border-color: transparent;
    width: 100%;
    height: 2cm;
}

.card-img-overlay {
    color: blanchedalmond;
}

.card-body {
    text-align: left;
    width: 100%;
}

.list-group {
    max-height: 200px;
    margin-bottom: 20px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.card-footer {
    text-align: right;
    background-color: white;
}

/* Bottom left and Top right positioning */

.left {
    float: left;
    color: grey;
    position: absolute;
    bottom: 3mm;
    left: 3mm;
}

.bottom-right {
    float: right;
    color: grey;
    position: absolute;
    bottom: 3mm;
    right: 3mm;
}

.right {
    float: right;
    position: absolute;
    top: 3mm;
    right: 2mm;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    outline: none;
    color: white;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.prep {
    background-color: rebeccapurple;
}
.todo {
    background-color: orange;
}
.ready {
    background-color: green;
}

#smaller {
    font-size: 14px;
}

#larger {
    font-size: 18px;
}

#deliver-btn {
    background-color: green;
}

/* NAVBAR */

#search-input {
    width: 87px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

#multi-select1 {
    width: 200px;
}

#multi-select2 {
    width: 200px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Other */

.alert {
    max-width: max-content;

}

