.order {
    background-color: #FC6A03;
    width: 250px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.order:hover {opacity: 1}
.infobutton {
    font-size: 10px;
    background-color: #87CEEB;
    border-radius: 50%;
}

#counter {
    position: fixed;
    left: 40%;
    top: 80%;
}
#sentence{
    position: fixed;
    left: 30%;
    top: 84%;
}

.dissappear{
    display: block;
    float: right;
    transition: 3s;
}

.dissappear.active{
    display: none;
    transition: 4s;
}

.appear{
    display: none;
}

.appear.active{
    display: block;
}

p{
    font-size: 12px;
}

.card{
    margin: 0 0 60px 0;
}

.buttonAdd{
    background-color: orange ;
    color: white ;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.icons i{
    color: white;
    height: 50px;
    width: 50px;
}

.icons{
    float: right;
}

#sidebarMessage{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#contentNav{
    color: red;
    padding-top: 30px;
}

#getOrder{
    background-color: black;
    border-radius: 40px;
    color: white;
}

#inputId{
    border-radius: 40px;
    color: black;
}

::placeholder{
    color: black;
}