<!DOCTYPE html>
<html lang="en">

<head>
	<title>Welcome!</title>
	<!-- Meta-Data -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Unzoomable screen -->
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
	<!-- Stylesheets -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext">
	<link rel="stylesheet" href="/static/AuthStyle.css">
	<!-- Scripts -->
	<script type="module" src="/static/vanilla-tilt.js"></script>
	<!--script type="module" src='/static/querying.js'></script-->
</head>

<body>
	<div class="row">
		<img src="/resources/Oxaca-logos.jpeg"></img>
	</div>
	<div class="card-deck">
		<div class="card" data-tilt data-tilt-glare>
			<div class="card-block">
				<h4 class="card-title">Customer</h4>
			</div>
			<img class="card-img-top" src="/resources/customer.svg" alt="Card image cap">
		</div>
		<div class="card" data-tilt data-tilt-glare>
			<div class="card-block">
				<h4 class="card-title">Kitchen</h4>
			</div>
			<img class="card-img-top" src="/resources/chef.svg" alt="Card image cap">
		</div>
		<div class="card" data-tilt data-tilt-glare>
			<div class="card-block">
				<h4 class="card-title">Waiter</h4>
			</div>
			<img class="card-img-top" src="/resources/waiter.svg" alt="Card image cap">
		</div>
	</div>


</body>

</html>


<!-- </body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="/static/AuthStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Animated Login Form</title>
</head>
<body>
	<img class="wave" src="/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="/img/munch.png">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="/img/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html> -->