{%extends 'menu.html'%}{%block content%}
<!DOCTYPE html>
<html>
<head>
<title> Chicken</title>
<div style="margin-top: 50px;" class="row">
      <div class="card">
        <img class="dissappear" class="card-img-top"  src="https://photos.bigoven.com/recipe/hero/kfc-secret-spices-fried-chicken-63c0f75000280101a9dfe6b0.jpg?h=300&w=300" alt="">
        <div class="card-body">
          <h5 class="card-title">1 Piece</h5>
          <a href="#" class="buttonAdd" onClick="increase(this.id)"
          id="1" value="1 Piece">0.80</a>
          <button class="item1" style="margin-left: 25px; background-color: lightseagreen; color: white; border-radius: 10px; border: white;"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p>This is the one piece meal served hot</p>
            <p> blah it contains this and that </p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://photos.bigoven.com/recipe/hero/kfc-secret-spices-fried-chicken-63c0f75000280101a9dfe6b0.jpg?h=300&w=300" alt="">
        <div class="card-body">
          <h5 class="card-title">2 Pieces</h5>
          <a href="#" class="buttonAdd" onClick="increase(this.id)"
          id="2" value="2 pieces">1.50</a>
          <button class="item1" style="margin-left: 25px; background-color: lightseagreen; color: white; border-radius: 10px; border: white;"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p>This is the one piece meal served hot</p>
            <p> blah it contains this and that </p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://photos.bigoven.com/recipe/hero/kfc-secret-spices-fried-chicken-63c0f75000280101a9dfe6b0.jpg?h=300&w=300" alt="">
        <div class="card-body">
          <h5 class="card-title">6 Pieces</h5>
          <a href="#" class="buttonAdd" onClick="increase(this.id)"
          id="3" value="6 pieces">3.50</a>
          <button class="item1" style="margin-left: 25px; background-color: lightseagreen; color: white; border-radius: 10px; border: white;"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p>This is the one piece meal served hot</p>
            <p> blah it contains this and that </p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://photos.bigoven.com/recipe/hero/kfc-secret-spices-fried-chicken-63c0f75000280101a9dfe6b0.jpg?h=300&w=300" alt="">
        <div class="card-body">
          <h5 class="card-title">10 Pieces</h5>
          <a href="#" class="buttonAdd" onClick="increase(this.id)"
          id="4" value="10 pieces">5.50</a>
          <button class="item1" style="margin-left: 25px; background-color: lightseagreen; color: white; border-radius: 10px; border: white;"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p>This is the one piece meal served hot</p>
            <p> blah it contains this and that </p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://photos.bigoven.com/recipe/hero/kfc-secret-spices-fried-chicken-63c0f75000280101a9dfe6b0.jpg?h=300&w=300" alt="">
        <div class="card-body">
          <h5 class="card-title">12 Pieces</h5>
          <a href="#" class="buttonAdd" onClick="increase(this.id)"
          id="5" value="12 pieces">6.50</a>
          <button class="item1" style="margin-left: 25px; background-color: lightseagreen; color: white; border-radius: 10px; border: white;"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p>This is the one piece meal served hot</p>
            <p> blah it contains this and that </p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://photos.bigoven.com/recipe/hero/kfc-secret-spices-fried-chicken-63c0f75000280101a9dfe6b0.jpg?h=300&w=300" alt="">
        <div class="card-body">
          <h5 class="card-title">15 Pieces</h5>
          <a href="#" class="buttonAdd" onClick="increase(this.id)"
          id="6" value="15 pieces">8.00</a>
          <button class="item1" style="margin-left: 25px; background-color: lightseagreen; color: white; border-radius: 10px; border: white;"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p>This is the one piece meal served hot</p>
            <p> blah it contains this and that </p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://photos.bigoven.com/recipe/hero/kfc-secret-spices-fried-chicken-63c0f75000280101a9dfe6b0.jpg?h=300&w=300" alt="">
        <div class="card-body">
          <h5 class="card-title">20 Pieces</h5>
          <a href="#" class="buttonAdd" onClick="increase(this.id)"
          id="7" value="20 pieces">10.00</a>
          <button class="item1" style="margin-left: 25px; background-color: lightseagreen; color: white; border-radius: 10px; border: white;"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p>This is the one piece meal served hot</p>
            <p> blah it contains this and that </p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://photos.bigoven.com/recipe/hero/kfc-secret-spices-fried-chicken-63c0f75000280101a9dfe6b0.jpg?h=300&w=300" alt="">
        <div class="card-body">
          <h5 class="card-title">30 Pieces</h5>
          <a href="#" class="buttonAdd" onClick="increase(this.id)"
          id="8" value="30 pieces">14.00</a>
          <button class="item1" style="margin-left: 25px; background-color: lightseagreen; color: white; border-radius: 10px; border: white;"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p>This is the one piece meal served hot </p>
            <p> blah it contains this and that </p>
          </div>
        </div>
      </div>
      </div>
  </div>
  
  
{%endblock%}

