<!DOCTYPE html>
<html>
<head>
<title>Welcome to Oaxaca.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- The name of the tab-->
    <title>OXACCA MENU</title>

    <!-- Bootstrap CSS CDN-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />

    <!-- Scrollbar Custom CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
    />

    <link rel="stylesheet" href="static/index.css">
<script src="static/menu.js"></script>

</head>
<body style = "background-color: #D6B85A">
<h1 style="font-size:60px;"> Please Select An Option </h1>
<form method="post" action="/">
    <div class="center">
	   <input type="submit" class="button" value="Customer" name="action1"/>
        <input type="submit" class="button" value="Waiter" name="action2" />
        <input type="submit" class="button" value="Kitchen Staff" name="action3" />
    </div>
</form>
</body>
</head>
</html>

