<style> 
.button {
    background-color: #FCAE1E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 8px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {opacity: 1}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1{text-align: center;}
h1{font-family: verdana;}
</style>
<body style = "background-color: D6B85A">
<h1 style="font-size:60px;"> Please Select An Option </h1>
<form method="post" action="/">
    <div class="center">
	   <input type="submit" class="button" value="Customer" name="action1"/>
        <input type="submit" class="button" value="Waiter" name="action2" />
        <input type="submit" class="button" value="Kitchen Staff" name="action3" />
    </div>
</form>
</body>