{%extends 'menu.html'%}{%block content%}
<!DOCTYPE html>
<html>
<head>
        <!-- We have made cards for each menu item which consists of a picture of the item, its name, an information button that gives allergy information when pressed and the price-->

<title> Kebab</title>
<div style="margin-top: 50px;" class="row">
      <div class="card">
        <img class="dissappear" class="card-img-top"  src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,h_100,w_100,d_uk:cuisines:kebabs-4.jpg/v1/uk/restaurants/160974.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Chicken shish</h5>
          <a  class="buttonAdd" onClick="increase(this.id)"
          id="1" value="Chicken shish">5.00</a>
          <a class="buttonRemove" onClick="decrease(this.id)" id="1" value="Chicken shish">-5.00</a>
          <button class="item1" ></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p> Milk and Soy </p>
            <h5> Calories </h5>
            <p> 546 </p>
            <p>This is the one piece meal served hot</p>
            <p>A dish of pieces of marinated  </p>
            <p>chicken and vegetables cooked</p>
            <p>and served on skewers</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,h_100,w_100,d_uk:cuisines:kebabs-4.jpg/v1/uk/restaurants/160974.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Chicken doner</h5>
          <a  class="buttonAdd" onClick="increase(this.id)"
          id="2" value="Chicken donner">6.50</a>
          <a class="buttonRemove" onClick="decrease(this.id)" id="2" value="Chicken donner">-6.50</a>
          <button class="item1" ><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p> Gluten, Milk and Soy </p>
            <h5> Calories</h5>
            <p> 723 </p>
            <p>This is the one piece meal served hot</p>
            <p>a Turkish dish consisting of spiced chicken </p>
            <p>cooked on a spit and served in slices, </p>
            <p>typically with pitta bread.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,h_100,w_100,d_uk:cuisines:kebabs-4.jpg/v1/uk/restaurants/160974.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Lamb shish</h5>
          <a  class="buttonAdd" onClick="increase(this.id)"
          id="3" value="Lamb shish">5.00</a>
          <a class="buttonRemove" onClick="decrease(this.id)" id="3" value="Lamb shish">-5.00</a>
          <button class="item1"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p> Milk and Soy </p>
            <h5> Calories </h5>
            <p> 546 </p>
            <p>This is the one piece meal served hot</p>
            <p>A dish of pieces of marinated  </p>
            <p>chicken and vegetables cooked</p>
            <p>and served on skewers</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,h_100,w_100,d_uk:cuisines:kebabs-4.jpg/v1/uk/restaurants/160974.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Lamb doner</h5>
          <a  class="buttonAdd" onClick="increase(this.id)"
          id="4" value="Lamb doner">6.50</a>
          <a class="buttonRemove" onClick="decrease(this.id)" id="4" value="Lamb doner">-6.50</a>
          <button class="item1"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p> Gluten, Milk and Soy </p>
            <h5> Calories</h5>
            <p> 723 </p>
            <p>This is the one piece meal served hot</p>
            <p>a Turkish dish consisting of spiced lamb </p>
            <p>cooked on a spit and served in slices, </p>
            <p>typically with pitta bread.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,h_100,w_100,d_uk:cuisines:kebabs-4.jpg/v1/uk/restaurants/160974.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Pork shish </h5>
          <a  class="buttonAdd" onClick="increase(this.id)"
          id="5" value="Pork shish">5.00</a>
          <a class="buttonRemove" onClick="decrease(this.id)" id="5" value="Pork shish">-5.00</a>
          <button class="item1"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p> Milk and Soy </p>
            <h5> Calories </h5>
            <p> 546 </p>
            <p>This is the one piece meal served hot</p>
            <p>A dish of pieces of marinated  </p>
            <p>chicken and vegetables cooked</p>
            <p>and served on skewers</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,h_100,w_100,d_uk:cuisines:kebabs-4.jpg/v1/uk/restaurants/160974.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Pork donner</h5>
          <a  class="buttonAdd" onClick="increase(this.id)"
          id="6" value="Pork donner">6.50</a>
          <a class="buttonRemove" onClick="decrease(this.id)" id="6" value="Pork donner">-6.50</a>
          <button class="item1"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p> Gluten, Milk and Soy </p>
            <h5> Calories</h5>
            <p> 723 </p>
            <p>This is the one piece meal served hot</p>
            <p>a Turkish dish consisting of spiced pork </p>
            <p>cooked on a spit and served in slices, </p>
            <p>typically with pitta bread.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,h_100,w_100,d_uk:cuisines:kebabs-4.jpg/v1/uk/restaurants/160974.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Duck shish</h5>
          <a  class="buttonAdd" onClick="increase(this.id)"
          id="7" value="duck shish">5.00</a>
          <a class="buttonRemove" onClick="decrease(this.id)" id="7" value="duck shish">-5.00</a>
          <button class="item1"><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p> Milk and Soy </p>
            <h5> Calories </h5>
            <p> 546 </p>
            <p>This is the one piece meal served hot</p>
            <p>A dish of pieces of marinated  </p>
            <p>chicken and vegetables cooked</p>
            <p>and served on skewers</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="dissappear" class="card-img-top" src="https://just-eat-prod-eu-res.cloudinary.com/image/upload/c_fill,f_auto,q_auto,h_100,w_100,d_uk:cuisines:kebabs-4.jpg/v1/uk/restaurants/160974.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Duck donner</h5>
          <a  class="buttonAdd" onClick="increase(this.id)"
          id="8" value="Duck donner">6.50</a>
          <a class="buttonRemove" onClick="decrease(this.id)" id="8" value="Duck donner">-6.50</a>
          <button class="item1" ><i class="fas fa-info-circle"></i> details</button>
          <div class="appear">
            <h5>Allergies</h5>
            <p> Gluten, Milk and Soy </p>
            <h5> Calories</h5>
            <p> 723 </p>
            <p>This is the one piece meal served hot</p>
            <p>a Turkish dish consisting of spiced pork </p>
            <p>cooked on a spit and served in slices, </p>
            <p>typically with pitta bread.</p>
          </div>
        </div>
      </div>
      </div>
  </div>
  
  
{%endblock%}

