<!DOCTYPE html>
<html lang="en">

<head>
	<title>Welcome!</title>
	<!-- Meta-Data -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Unzoomable screen -->
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
	<!-- Stylesheets -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext">
	<link rel="stylesheet" href="/static/loginUI/LoginStyle.css">
	<!-- Scripts -->
	<script type="module" src="/static/loginUI/LoginApp.js"></script>
</head>

<body>
    <div class="center">
        <h1>Login</h1>
        <div class="input-form">
            <div class="field">
                <input id="usrnm" type="text" placeholder="username" value="" required>
            </div>
            <div class="field">
                <input id="psw" type="password" placeholder="password" value="" required>
            </div>
			<button type="submit" id="loginBtn">Sign In</button>
        </div>
   </div>


</body>

</html>

