<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Welcome to our menu</h1>
    <script type = "module" src = static/querying.js></script>
    </head>
    <body>
        <div>
            <!-- for loop for amount of sub menus there are-->
        <button type = "button">Submenu</button>
        </div>
        {%block content%}
        {%endblock%}
    <h1> Orders </h1>
    <ul id="OrderList">
    </ul>
    </body>
</html>
