<!DOCTYPE html>
<html>
<head>
<title> Kebab</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- The name of the tab-->
    <title>OXACCA MENU</title>

    <!-- Bootstrap CSS CDN-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    <!-- Our Custom CSS-->
    <link rel="stylesheet" href="static/navbar.css" />
    <!-- -->
    <!-- Scrollbar Custom CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
    />

    <link rel="stylesheet" href="static/menu.css">
<script src="static/menu.js"></script>

</head>
<body style="background-color: #FAFAD2;">
    {%block content%}
    {%endblock%}
    <!-- The main div-->
    <div class="mainSite">
      <!-- Sidebar-->
      <nav id="sidebar">
        <!--Where the title is written and sits at top of sidebar-->
        <div class="sidebar-header">
          <h3>OXACCA MENU</h3>
        </div>
        <!-- means there is no bullet points, looks cleaner-->
        <ul class="list-unstyled components">
          <!-- floating to the right of the welcome message-->
          <img
            style="float: right"
            src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/picnic-food-1591195465.jpg?crop=0.317xw:0.635xh;0.340xw,0.189xh&resize=100:*"
            alt=""
            width="100px"
            height="100px"
          />
          <!-- introductory message-->
          <p><strong>Please Help Yourself To Today's Menu</strong></p>
          <!-- the side menu list which will be later made dynamic based what is in inside the database-->
          <li>
            <a onclick="window.location.href='burgers';">Burgers</a>
          </li>
          <li>
            <a onclick="window.location.href='chicken';">Chicken</a>
          </li>
          <li>
            <a onclick="window.location.href='meals';">Meals</a>
          </li>
          <li>
            <a onclick="window.location.href='drinks';">Drinks</a>
          </li>
          <li>
            <a onclick="window.location.href='kebab';">Kebabs</a>
          </li>
          <li>
            <a onclick="window.location.href='sides';">Sides</a>
          </li>
        </ul>
      </nav>

      <!-- What will be within the page-->

      <div id="content">
        <nav  class="navbar navbar-expand-lg navbar-light bg-light">
          <div id="contentNav" class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span
                >See our menu's selection</span
              >
            </button>
          </div>
        </nav>
      </div>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <!-- Popper.JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/navbar.js"></script>
</body>
</html>