<h1> Orders </h1>
<input type="text" id="Order"><bl></bl>
<button onclick="addToList()">Add to Basket</button>
<ul id="OrderList">
</ul>

<script>
  function addToList() {
    //Currently using a text line for orders, needs to be changed to the menu.
    var Order = document.getElementById('Order').value;
    var listNode = document.getElementById('OrderList');
    var newNode = document.createElement("LI");
    var textNode = document.createTextNode(Order);
    newNode.appendChild(textNode);
    listNode.appendChild(newNode);
  }
</script>