<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Stylesheets -->
    <title>Order Tracker</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

	<!-- Stylesheets -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext">
    <link rel="stylesheet" href="/static/trackerStyle.css">

    <!-- Scripts -->
	<script type="module" src="/static/vanilla-tilt.js"></script>
	<script type="module" src="/static/tracker.js"></script>
</head>

<body>
	<!-- Logo Image -->
	<div class="row justify-content-center">
		<img src="/static/resources/Oxaca-logos.png"></img>
	</div>

	
	<div id="textbox" style="text-align:center;vertical-align:middel" class="stat"><input type="textbox"></div>



	<!-- Selection Buttons -->
	<div class="card-deck">
		<!-- Customer Button -->
		<div class="card" id="customer" data-tilt data-tilt-glare>
			<div class="card-block">
				<h4 class="card-title">Help</h4>
			</div>
			<img class="card-img-top" src="/static/resources/undraw_questions_re_1fy7.svg" alt="Card image cap" id="help">
		</div>
		<!-- Staff Button -->
		<div class="card" data-tilt data-tilt-glare>
			<div class="card-block">
				<h4 class="card-title">Order again</h4>
			</div>
			<img class="card-img-top" src="/static/resources/undraw_completing_re_i7ap.svg" alt="Card image cap" id = "redo">
		</div>
	</div>
</body>

</html>
