<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta-Data -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext">
  <link rel="stylesheet" href="Style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Scripts -->
  <script type="text/javascript" src="app.js"></script>
</head>

<body style="background-color:rgb(243, 237, 237);">
    <nav class="navbar navbar-dark bg-dark">
        <!-- Add Navbar content , sort out margins in between cards, make cards easily addable (i.e. reproducable without repeating code)-->
    </nav>

    <div class="edit-order">
        <div class = "box">
            <h5 class=card-title>Edit order</h5>
        </div> 
        <form>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault01">Order Number</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="order number">
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault02">Item</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="item">
              </div>
              <div class="col-md-4 mb-3">
                <div class="input-group" style = "position:relative; top:50px;">
                    <button href="#" type = "button" class="btn btn-primary-outline" style = "background-color:green; color: white;" onclick = "AddToOrder()">
                        Confirm
                    </button>
                </div>
              </div>

              <div class="form-check" style = "position:relative; left:1175px; top:-70px; ">
                <input class="form-check-input" type="radio" name="Checkbuttons" id="AddCheckbutton" value="option1">
                <label class="form-check-label" for="AddCheckbutton">
                  Add
                </label>
              </div>
              <div class="form-check"  style = "position:relative; left:1126px; top:-30px;">
                <input class="form-check-input" type="radio" name="Checkbuttons" id="RemoveCheckbutton" value="option2">
                <label class="form-check-label" for="RemoveCheckbutton">
                  Remove
                </label>
              </div>

            </div>
          </form>
    </div>    

    <div class="card-deck">
        <div class="card" id="card78">
            <div id="card-head1" class="card-header todo">
                <h5 class="card-title">Order #78</h5>
            </div>
            <div class="card-body">
                <ul class="list-group" id="78" style = "font-size: 14px;">
                    <li class="list-group-item">3x Burito</li>
                    <li class="list-group-item">1x Margarita</li>
                    <li class="list-group-item">1x Donut</li>
                    <li class="list-group-item">1x Apple</li>
                    <li class="list-group-item">3x Burito</li>
                    <li class="list-group-item">1x Margarita</li>
                    <li class="list-group-item">1x Donut</li>
                    <li class="list-group-item">1x Apple</li>
                </ul>
            </div>
            <div class = "btn-group">
                <button id="confirm-btn1" class="card-footer border-0">
                <a style="background-color: green;" href="#" class="btn btn-primary-outline"><i class="fa fa-check"></i> Confirm</a>
                </button>
                <button data-dismiss="alert" data-target="#card78" type="button" class="cancel-button close" aria-label="Close" style="
                background-color:red;">
                    <i class="fa fa-times"></i> Cancel
                    <span aria-hidden="true"></span>
                </button>
            </div>
        <small class="left">5 minutes ago</small>
        </div>

        <div class="card" id="card79">
            <div id="card-head2" class="card-header todo">
                <h5 class="card-title">Order #79</h5>
            </div>
            <div class="card-body">
                <ul class="list-group" id="79" style = "font-size: 14px;" >
                    <li class="list-group-item">3x Burito</li>
                    <li class="list-group-item">1x Margarita</li>
                    <li class="list-group-item">1x Donut</li>
                    <li class="list-group-item">1x Apple</li>
                </ul>
            </div>
            <div class = "btn-group">
                <button id="confirm-btn2" class="card-footer border-0">
                <a style="background-color: green;" href="#" class="btn btn-primary-outline"><i class="fa fa-check"></i> Confirm</a>
                </button>
                <button data-dismiss="alert" data-target="#card79" type="button" class="cancel-button close" aria-label="Close" style="
                background-color:red;">
                    <i class="fa fa-times"></i> Cancel
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <small class="left">10 minutes ago</small>
        </div>
    
        <div class="card" id="card80">
            <div id="card-head3" class="card-header todo">
                <h5 class="card-title">Order #80</h5>
            </div>
            <div class="card-body">
                <ul class="list-group" id="80" style = "font-size: 14px;">
                    <li class="list-group-item">3x Burito</li>
                    <li class="list-group-item">1x Margarita</li>
                    <li class="list-group-item">1x Donut</li>
                </ul>
            </div>
            <div class = "btn-group">
                <button id="confirm-btn3" class="card-footer border-0">
                <a style="background-color: green;" href="#" class="btn btn-primary-outline"><i class="fa fa-check"></i> Confirm</a>
                </button>
                <button data-dismiss="alert" data-target="#card80" type="button" class="cancel-button close" aria-label="Close" style="
                background-color:red;">
                    <i class="fa fa-times"></i> Cancel
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <small class="left">15 minutes ago</small>
        </div>
    </div>
    
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg btn-block">VIEW AVAILABLE TABLES</button>
    <br>
    <br>
    
    
</body>

</html>